body{background: rgb(255,255,204);
        font-size: medium;}
h2{text-align: center;}

p{width: 300px;
  margin-left: 50px;
  background: rgb(255,204,0);}
        
#vanoce{float: right;
        font-size: large;
        margin-right: 50px;}        
